:root {
    --main-color: black;
    --main-font-size: 35px;
    --main-padding: 20px;
    --main-margin: 20px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
    padding: var(--main-padding);
    text-align: center;
    font-size: var(--main-font-size);
    color: var(--main-color);
}

body {
    transition: background-color 1s;
    margin: 0;
    padding: 0;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: var(--main-margin) auto;
}

#imgBanner {
    max-width: 100%;
    max-height: auto;
    box-shadow: var(--box-shadow);
    transition: all 1s ease-in-out;
}

.texto {
    border: 2px solid var(--main-color);
    margin: var(--main-margin);
    padding: var(--main-padding);
    text-align: center;
}

#bloco_contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    padding: var(--main-padding);
    margin: auto;
}

#enviar {
    margin-top: 20px;
}

#bloco_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    margin: var(--main-margin);
    box-shadow: var(--box-shadow);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-around;
    padding: var(--main-padding);
    margin: var(--main-margin);
}