body {
    transition: background-color 1s;
}

#banner{
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

#imgBanner {
    max-width: 100%;
    max-height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
